.cabeçalho{
    text-align: center;
    line-height: 75px;
}
header{
    width: 101%;
    height: 75px;
    background-color: antiquewhite;
    margin: -8px;
    border-bottom: 4px solid yellow;
}
body{
    background-color: wheat;
}
.criador{
    float: left;
    margin-top: -115;
    margin-right: 50px;
}
a{
    margin-left: -44;
    border: solid wheat;
} 