
.body{
    min-width: 300;
    max-width: 610;
    height: 100%;
}
.menu-principal{
    background-color:darkslateblue; 
    height: 70px;
    width: 100%;
}
main {
    margin: 0 auto;
    min-width: 300px;
    max-width: 610px;
    float: left;
}
.logo {
    width: 100%;
    margin-top: -10px;
}
.redes-sociais {
    float: right;
    margin-right: -65px;
    margin-top: 25px;
}
.redes-sociais ul li {

    display: inline-block;

    margin-top:-15px;
    
}
.ze{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -345px;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
    

.penix {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 5%;
    margin-top: -270px;
    margin-right: 50%;
    transform: translate(-50%, -50%)
}
 
.pingola {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20%;
    margin-top: -35px;
    margin-right: 300px;
    transform: translate(-50%, -50%)
}
.texto {
    font: 1em sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -50px;
    margin-right: -60%;
    transform: translate(-50%, -50%)
}
.doido {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20%;
    margin-top: -24px;
    margin-right: 250px;
    transform: translate(-50%, -50%)
}
.piroca {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20%;
    margin-top: -272px;
    margin-right: 700px;
    transform: translate(-50%, -50%)
}
.background {
     background-color:lavender;
     width: 100%;
     height: 20000px;

}
.conteudo {
    font-family: sans-serif;
    text-align: center;
    background-color:steelblue;
    width: 450px;
    height: 2325px;  
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20%;
    margin-top: 975px;
    margin-right: 350px;
    transform: translate(-50%, -50%)
}
.downloads {  
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20%;
    margin-right: -745px;
    margin-top: -1032px;
    background-color:steelblue;
    width: 200px;
    text-align: center;
    transform: translate(-50%, -50%)
}